#include <windows.h>
#include <winresrc.h>
#include "umapita_res.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "umapita.manifest"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(65001)

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
{
}

IDD_UMAPITA_MAIN DIALOGEX 0,0,260,260
STYLE WS_POPUP|WS_SYSMENU|WS_VISIBLE|WS_MINIMIZEBOX
CAPTION "うまピタ"
CLASS UMAPITA_MAIN_WINDOW_CLASS
{
  LTEXT "",IDC_TARGET_STATUS,5,20,250,10,WS_BORDER
  AUTOCHECKBOX "有効",IDC_ENABLED,5,35,100,10

  GROUPBOX "縦画面",-1,5,50,250,100
    LTEXT "領域",-1,10,63,20,10
    AUTORADIOBUTTON "全体",IDC_V_WHOLE_AREA,30,62,25,10,WS_TABSTOP|WS_GROUP
    AUTORADIOBUTTON "クライアント",IDC_V_CLIENT_AREA,60,62,55,10
    RTEXT "サイズ",-1,128,63,30,10
    EDITTEXT IDC_V_SIZE,160,63,30,10,ES_NUMBER
    AUTORADIOBUTTON "幅", IDC_V_AXIS_WIDTH,190,62,20,10,WS_TABSTOP|WS_GROUP
    AUTORADIOBUTTON "高さ", IDC_V_AXIS_HEIGHT,215,62,35,10

    LTEXT "モニター番号",-1,10,80,55,10
    EDITTEXT IDC_V_MONITOR_NUMBER,63,80,15,10,ES_NUMBER
    PUSHBUTTON ">>",IDC_V_SELECT_MONITORS,78,80,10,10

    GROUPBOX "原点",-1,18,95,50,50
      AUTORADIOBUTTON "",IDC_V_ORIGIN_NW,25,106,10,10,WS_TABSTOP|WS_GROUP
      AUTORADIOBUTTON "",IDC_V_ORIGIN_N,40,106,10,10
      AUTORADIOBUTTON "",IDC_V_ORIGIN_NE,55,106,10,10
      AUTORADIOBUTTON "",IDC_V_ORIGIN_W,25,118,10,10
      AUTORADIOBUTTON "",IDC_V_ORIGIN_C,40,118,10,10
      AUTORADIOBUTTON "",IDC_V_ORIGIN_E,55,118,10,10
      AUTORADIOBUTTON "",IDC_V_ORIGIN_SW,25,130,10,10
      AUTORADIOBUTTON "",IDC_V_ORIGIN_S,40,130,10,10
      AUTORADIOBUTTON "",IDC_V_ORIGIN_SE,55,130,10,10

    RTEXT "オフセットX",-1,78,105,50,10
    EDITTEXT IDC_V_OFFSET_X,130,105,30,10,ES_NUMBER
    RTEXT "オフセットY",-1,78,120,50,10
    EDITTEXT IDC_V_OFFSET_Y,130,120,30,10,ES_NUMBER

  GROUPBOX "横画面",-1,5,150,250,100
    LTEXT "領域",-1,10,163,20,10
    AUTORADIOBUTTON "全体",IDC_H_WHOLE_AREA,30,162,25,10,WS_TABSTOP|WS_GROUP
    AUTORADIOBUTTON "クライアント",IDC_H_CLIENT_AREA,60,162,55,10
    RTEXT "サイズ",-1,128,163,30,10
    EDITTEXT IDC_H_SIZE,160,163,30,10,ES_NUMBER
    AUTORADIOBUTTON "幅", IDC_H_AXIS_WIDTH,190,162,20,10,WS_TABSTOP|WS_GROUP
    AUTORADIOBUTTON "高さ", IDC_H_AXIS_HEIGHT,215,162,35,10

    LTEXT "モニター番号",-1,10,180,55,10
    EDITTEXT IDC_H_MONITOR_NUMBER,63,180,15,10,ES_NUMBER
    PUSHBUTTON ">>",IDC_H_SELECT_MONITORS,78,180,10,10

    GROUPBOX "原点",-1,18,195,50,50
      AUTORADIOBUTTON "",IDC_H_ORIGIN_NW,25,206,10,10,WS_TABSTOP|WS_GROUP
      AUTORADIOBUTTON "",IDC_H_ORIGIN_N,40,206,10,10
      AUTORADIOBUTTON "",IDC_H_ORIGIN_NE,55,206,10,10
      AUTORADIOBUTTON "",IDC_H_ORIGIN_W,25,218,10,10
      AUTORADIOBUTTON "",IDC_H_ORIGIN_C,40,218,10,10
      AUTORADIOBUTTON "",IDC_H_ORIGIN_E,55,218,10,10
      AUTORADIOBUTTON "",IDC_H_ORIGIN_SW,25,230,10,10
      AUTORADIOBUTTON "",IDC_H_ORIGIN_S,40,230,10,10
      AUTORADIOBUTTON "",IDC_H_ORIGIN_SE,55,230,10,10

    RTEXT "オフセットX",-1,78,205,50,10
    EDITTEXT IDC_H_OFFSET_X,130,205,30,10,ES_NUMBER
    RTEXT "オフセットY",-1,78,220,50,10
    EDITTEXT IDC_H_OFFSET_Y,130,220,30,10,ES_NUMBER

  PUSHBUTTON "終了",IDC_QUIT,225,5,30,10
}

IDM_POPUP MENU
{
  POPUP "Tasktray"
  {
    MENUITEM "終了(&Q)",IDC_QUIT
  }
}

STRINGTABLE
{
  IDS_TASKTRAY_TIP "うまピタ"
  IDS_HORIZONTAL "横"
  IDS_VERTICAL "縦"
  IDS_QUIT "終了(&Q)"
}
