#include <windows.h>
#include <winresrc.h>
#include "umapita_res.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "umapita.manifest"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(65001)

1 VERSIONINFO
FILEVERSION VER_0,VER_1,VER_2,VER_3
PRODUCTVERSION VER_0,VER_1,VER_2,VER_3
{
}

IDI_UMAPITA ICON "umapita.ico"

#define DM_W 260
#define DM_H 248
IDD_UMAPITA_MAIN DIALOGEX 0,0,DM_W,DM_H
STYLE WS_POPUP|WS_SYSMENU|WS_VISIBLE|WS_MINIMIZEBOX
CAPTION "うまピタ " VERSTR
CLASS UMAPITA_MAIN_WINDOW_CLASS
{
  AUTOCHECKBOX "有効",IDC_ENABLED,5,5,26,10

  COMBOBOX        IDC_SELECT_PROFILE,     5,20,120,10,CBS_DROPDOWN|CBS_SORT|WS_TABSTOP
  PUSHBUTTON ">>",IDC_OPEN_PROFILE_MENU,125,21, 10,10

#define DEF_ORIGIN(vh,x,y) \
    GROUPBOX "原点",-1,x,y,50,50 \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_NW,x+7,      y+11,10,   10,WS_TABSTOP|WS_GROUP \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_N ,x+7+15,   y+11,10,   10 \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_NE,x+7+15+15,y+11,10,   10 \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_W ,x+7,      y+11+12,   10,10 \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_C ,x+7+15,   y+11+12,   10,10 \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_E ,x+7+15+15,y+11+12,   10,10 \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_SW,x+7,      y+11+12+12,10,10 \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_S ,x+7+15,   y+11+12+12,10,10 \
      AUTORADIOBUTTON "",IDC_##vh##_ORIGIN_SE,x+7+15+15,y+11+12+12,10,10

#define DEF_PER_ORIENTATION(name, vh, x, y) \
  CONTROL name,IDC_##vh##_GROUPBOX,"BUTTON",BS_OWNERDRAW,x,y,DM_W-10,100 \
    LTEXT           "領域",        -1,                    x+5,  y+13,20,10 \
    AUTORADIOBUTTON "外枠",        IDC_##vh##_WHOLE_AREA, x+25, y+12,25,10,WS_TABSTOP|WS_GROUP \
    AUTORADIOBUTTON "内枠",        IDC_##vh##_CLIENT_AREA,x+55, y+12,25,10 \
    RTEXT           "サイズ",      -1,                    x+123,y+13,30,10 \
    EDITTEXT                       IDC_##vh##_SIZE,       x+155,y+12,30,11 \
    AUTORADIOBUTTON "幅",          IDC_##vh##_AXIS_WIDTH, x+188,y+12,20,10,WS_TABSTOP|WS_GROUP \
    AUTORADIOBUTTON "高さ",        IDC_##vh##_AXIS_HEIGHT,x+213,y+12,25,10 \
    \
    LTEXT      "モニター番号",-1,                                   x+5,  y+30,55,10 \
    EDITTEXT                         IDC_##vh##_MONITOR_NUMBER,     x+58, y+29,15,11,ES_NUMBER \
    PUSHBUTTON ">>",                 IDC_##vh##_SELECT_MONITORS,    x+73, y+30,10,9 \
    AUTOCHECKBOX "タスクバーを除外", IDC_##vh##_IS_CONSIDER_TASKBAR,x+90,y+29,75,10 \
    \
    DEF_ORIGIN(vh, x+13, y+45) \
    \
    GROUPBOX "オフセット",-1,x+70,y+45,52,43 \
      LTEXT    "X",-1,                 x+77,y+58,8,10 \
      EDITTEXT     IDC_##vh##_OFFSET_X,x+85,y+57,30,11,ES_NUMBER \
      LTEXT    "Y",-1,                 x+77,y+72,8,10 \
      EDITTEXT     IDC_##vh##_OFFSET_Y,x+85,y+71,30,11,ES_NUMBER

  DEF_PER_ORIENTATION("縦画面",V,5,33)

  DEF_PER_ORIENTATION("横画面",H,5,133)

  LTEXT "",-1,               0,DM_H-12,DM_W  ,12,SS_ETCHEDFRAME
  LTEXT "",IDC_TARGET_STATUS,1,DM_H-11,DM_W-2,10

  PUSHBUTTON "終了",IDC_QUIT,225,5,30,11
}

#define DS_W 260
#define DS_H 45
IDD_SAVE DIALOGEX 0,0,DS_W,DS_H
CAPTION ""
STYLE WS_POPUP
{
  COMBOBOX            IDC_SELECT_PROFILE,5,     15,      DS_W-10,10,CBS_DROPDOWN|CBS_SORT|WS_TABSTOP
  LTEXT      "",      IDC_SAVE_DETAIL,   5,      5,      DS_W-10,10
  PUSHBUTTON "ｷｬﾝｾﾙ", IDCANCEL,          DS_W-45,DS_H-15,40,     10
  PUSHBUTTON "OK",    IDOK,              DS_W-90,DS_H-15,40,     10
}

IDM_POPUP MENU
{
  POPUP "Tasktray"
  {
    MENUITEM "終了(&Q)",IDC_QUIT
  }
}

IDM_PROFILE MENU
{
  POPUP "Profile"
  {
    MENUITEM "変更のロック(&L)",IDC_LOCK
    MENUITEM SEPARATOR
    MENUITEM "保存(&S)",IDC_SAVE
    MENUITEM "名前を付けて保存(&A)",IDC_SAVE_AS
    MENUITEM SEPARATOR
    MENUITEM "名前の変更(&R)",IDC_RENAME
    MENUITEM "削除(&D)",IDC_DELETE
    MENUITEM SEPARATOR
    MENUITEM "新しいプロファイル(&N)",IDC_NEW
  }
}

STRINGTABLE
{
  IDS_TASKTRAY_TIP "うまピタ"
  IDS_QUIT "終了(&Q)"
  IDS_VERTICAL "縦"
  IDS_HORIZONTAL "横"
  IDS_NEW_PROFILE "<<新規>>"
  IDS_CHANGED_MARK " *"
  IDS_CONFIRM "確認"
  IDS_CONFIRM_OVERWRITE "既に""%S""は存在しています。上書きしてもよろしいですか？"
  IDS_CONFIRM_SAVE "変更されています。セーブしますか？"
  IDS_CONFIRM_INIT_TITLE "新しいプロファイル"
  IDS_CONFIRM_INIT "現在の設定値を維持しますか？\n（「いいえ」を選んだ場合、デフォルト値で初期化されます）"
  IDS_CONFIRM_DELETE_TITLE "プロファイルの削除"
  IDS_CONFIRM_DELETE "プロファイル""%S""を削除しますか？"
  IDS_SAVE_AS_TITLE "名前を付けて保存"
  IDS_SAVE_AS_DETAIL "保存する名前を指定してください:"
  IDS_RENAME_TITLE "名前を付けて保存"
  IDS_RENAME_DETAIL """%S""をリネームします。新しい名前を指定してください:"
}
